<!-- <mat-toolbar color="primary">
  <span class="app-name">DeoxyDb</span>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Home</button>
    <button mat-menu-item>Upload</button>
    <button mat-menu-item>Contact</button>
  </mat-menu>

  <button mat-button >User</button>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <span class="app-name">DeoxyDb</span>

  <span class="spacer"></span>

  <!-- Menu for navigating between components -->
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateTo('')">Home</button>
    <button mat-menu-item (click)="navigateTo('upload')">Upload</button>
    <button mat-menu-item (click)="navigateTo('management')">Management</button>    
  </mat-menu>

</mat-toolbar>
