<mat-toolbar color="primary">
  <span class="app-name">DeoxyDb</span>

  <span class="spacer"></span>

  <!-- Menu for navigating between components -->
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateTo('home')">Home</button>
    <button mat-menu-item (click)="navigateTo('upload')">Upload</button>
    <button mat-menu-item (click)="navigateTo('management')">Management</button>
  </mat-menu>

  <!-- Spacer to push logout button to the right -->
  <span class="spacer"></span>

  <!-- Logout button -->
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
