<!-- <h2 class="upload-title">Upload Files</h2>
<div class="upload-form">

  <form (submit)="onSubmit($event)" >
    <div class="file-upload-container">
     -->
        <!-- label or some sort of tag to display the file name -->

<!-- 
        <label for="file-upload" class="custom-file-label">Select Files</label>
        <input id="file-upload" class="upload-button" type="file" (change)="onFileSelected($event)">
  
        <button mat-raised-button color="primary" type="submit">Upload</button>
    </div>
    </form>
  
  <app-upload-confirmation *ngIf="dnaSequence" [dnaSequence]="dnaSequence"></app-upload-confirmation>
</div> -->
<h2 class="upload-title">Upload Files</h2>
<div class="upload-form">
  <form (submit)="onSubmit($event)">
    <div class="file-upload-container">
        <!-- Label to display the file name -->
        <label for="file-upload" class="custom-file-label">
          {{ selectedFileName || 'Select Files' }}
        </label>
        <input id="file-upload" class="upload-button" type="file" (change)="onFileSelected($event)">

        <button mat-raised-button color="primary" type="submit">Upload</button>
    </div>
  </form>
  <!-- Mat Progress Spinner -->
  <div *ngIf="isUploading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>


  <app-upload-confirmation *ngIf="dnaSequence" [dnaSequence]="dnaSequence"></app-upload-confirmation>
</div>
